
[core]
		
	autocrlf = false
	ignorecase = false
    excludesfile = ~/.gitignore_global

[user]
	
	email = xxx.com

	name = xxx

[commit]
    template = ~/.git/commit-msg.template

[color]
        
	status = auto

	branch = auto

	diff = auto

	ui = true
        
	pager = true

[color "branch"]
        
	current = red reverse
        
	local = yellow
        
	remote = green

[color "diff"]
        
	meta = yellow bold
        
	frag = magenta bold
        
	old = red bold
        
	new = green bold

[color "status"]
        
	added = yellow
        
	changed = green
        
	untracked = cyan

[alias] 
        
    pr = "! f() { upstream=$1;pr=$2;git fetch $upstream pull/$pr/head:pr-$pr;git checkout pr-$pr; }; f "

	co = commit 
        
	st = status -b
        
	ch = checkout 
        
	br = branch -vv
        
	la = log --pretty=\"format:%ad %h (%an): %s\" --date=short 
        
	ll = log --pretty=oneline --graph --decorate --abbrev-commit --all 
        
	ls = log --oneline --stat --date=short 
	
	ss = status -s -b

    staa = stash -u

    stal = stash list

    stap = stash pop

    stas = stash show

    stasp = stash show -p

[gui]
	
	encoding = utf-8
[push]
	default = simple
[http]
[https]

[url "git@gitlab.qiniu.io:"]
	insteadOf = https://gitlab.qiniu.io/
[merge]
#	conflictstyle = diff3
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:qbox/"]
	insteadOf = https://github.com/qbox/
