
[core]
		
	autocrlf = false

	ignorecase = false

[user]
	
	email = xxx

	name = songgl

[color]
        
	status = auto

	branch = auto

	diff = auto

	ui = true
        
	pager = true

[color "branch"]
        
	current = red reverse
        
	local = yellow
        
	remote = green

[color "diff"]
        
	meta = yellow bold
        
	frag = magenta bold
        
	old = red bold
        
	new = green bold

[color "status"]
        
	added = yellow
        
	changed = green
        
	untracked = cyan

[alias] 
        
	co = commit 
        
	st = status -b
        
	ch = checkout 

    cp = cherry-pick
        
	br = branch -vv
        
	la = log --pretty=\"format:%ad %h (%an): %s\" --date=short 
        
	ll = log --pretty=oneline --graph --decorate --abbrev-commit --all 
        
	ls = log --oneline --stat --date=short 
	
	ss = status -s -b

    staa = stash -u

    stal = stash list

    stap = stash pop

    pr = "! f() { upstream=$1;pr=$2;git fetch $upstream pull/$pr/head:pr-$pr;git checkout pr-$pr; }; f "
    
    # git m2 sourceBrance targetBranch mergeMsg
    # too danger to use !
    #m2="!f(){ git checkout $1 && git pull && git ss && git checkout $2 && git pull && git ss && git merge -m $3 $1 && git ss; };f"
   
    #git m2 targetBranch mergeMsg
    m2="!f(){  currentBranch=$(git rev-parse --abbrev-ref HEAD); git checkout $1 && git pull && git ss && git merge -m $2 $currentBranch;git ss; };f"

[gui]
	
	encoding = utf-8
[push]
	default = simple
[submodule]
	recurse = true
